.acedemics{
    margin: 60px auto;
    /* width: 95    %; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.acedemic img{
    width: 100%;
    height: 300px;
    border-radius: 10px;
    display: block;
}

.acedemic{
    flex-basis:  31%;
    position: relative;
}

.caption{
    border-radius: 10px;
    position: absolute;
    top: 0;
    left:0;
    bottom: 0;
    right: 0;
    background: rgba(1, 3, 18, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    cursor: pointer;
    opacity: 0;
    padding-top: 70%;
    transition: 0.4s;
}

.caption img{
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}


.acedemic:hover .caption{
    opacity: 1;
    padding-top: 0;
}


.subject ul li{
    list-style: none;

} 

/* media query */

@media(max-width: 860px) {
    .acedemics{
        flex-direction: column;
    }

    .acedemic{
        flex-basis: 100%;
        margin: 20px;
    }
}